<div class="container mt-4">
  <h2>Bike brands</h2>


  

  <div *ngIf="brands.length === 0" class="alert alert-info" role="alert">
    There are no brands to display
  </div>

  <table *ngIf="brands.length > 0" class="text-center align-middle table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Headquarters</th>
        <th scope="col">Avreage price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of brands">
        <td><span class="audiowide-regular h3">{{ brand.brandName || 'N/A' }}</span></td>
        <td>{{ brand.location || 'N/A' }}</td>
        <td class="h5" >{{ brand.averageAskingPrice | currency:'USD':'symbol':'1.0-0' }}</td>
        <td>
          <button class="btn btn-sm btn-primary me-2 m-2" [routerLink]="['/brands/edit', brand.id]">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteBrand(brand.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="mb-3 text-end">
    <a class="btn btn-primary" routerLink="/brands/new">
      <i class="bi bi-plus-circle"></i> Add new brand
    </a>
  </div>
</div>
