/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(-45deg, #4481eb, #04befe, #3f86ed, #17499b);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
   /* Megakadályozza a görgetősáv megjelenését */
  height: 100vh; /* Biztosítja, hogy a háttér kitöltse a teljes képernyőt */
}

.frosted-glass {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 1rem;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Buborékok */
.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1; /* Háttérben tartja a buborékokat */
}

.bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 30px; 
  height: 30px; 
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-bicycle' viewBox='0 0 16 16'%3E%3Cpath d='M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5m1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139zM8 9.057 9.598 6.5H6.402zM4.937 9.5a2 2 0 0 0-.487-.877l-.548.877zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53z'/%3E%3C/svg%3E");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  animation: animateBubbles 20s linear infinite;
  bottom: -150px;
  opacity: 0; 
}

.bubbles li:nth-child(1) {
  left: 10%;
}

.bubbles li:nth-child(2) {
  left: 20%;
  width: 30px;
  height: 30px;
  animation-delay: 2s;
  animation-duration: 17s;
}

.bubbles li:nth-child(3) {
  left: 25%;
  width: 10px;
  height: 10px;
  animation-delay: 4s;
}

.bubbles li:nth-child(4) {
  left: 40%;
  width: 40px;
  height: 40px;
  animation-duration: 22s;
}

.bubbles li:nth-child(5) {
  left: 70%;
}

.bubbles li:nth-child(6) {
  left: 80%;
  width: 30px;
  height: 30px;
  animation-delay: 3s;
}

.bubbles li:nth-child(7) {
  left: 32%;
  width: 25px;
  height: 25px;
  animation-delay: 7s;
}

.bubbles li:nth-child(8) {
  left: 55%;
  width: 15px;
  height: 15px;
  animation-delay: 15s;
  animation-duration: 18s;
}

.bubbles li:nth-child(9) {
  left: 25%;
  width: 12px;
  height: 12px;
  animation-delay: 2s;
}

.bubbles li:nth-child(10) {
  left: 90%;
  width: 30px;
  height: 30px;
  animation-delay: 11s;
}

@keyframes animateBubbles {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 1;
  }
}
