.frosted-glass {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 1rem;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 1;
  font-style: normal;
}
